html, body, #main, #pgr_sys_page, #panel-collector, .panel-default {
	height: 100%;
}

#joint_control{
	margin-top: 10px;
}

#joint_label{
	font-size: 13px
}

#selected_pgr{
	background-color: white;
}

#right_pane_button{
	width:90px;
}
/*#file_name{
	margin-top: 10px;
}*/
/*.panel > .row {
	margin-top: 10px; 
}
*/

/*.container{
	width: auto;
}*/

