<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="assets/css/starter-template.css">
  <link rel="stylesheet" href="custom.css">
  <!-- bootstrap js -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <script src="assets/js/jquery-3.1.1.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- vue.js -->
  <script src="assets/js/vue.js"></script>
  <script>
    if (window.module) module = window.module;
  </script>

</head>

<body>

  <div id="main">

    <!-- ============================================================ first home page ============================================================ -->

    <div id="home_page" class=" container" v-if="current_state === 'home_page'">
      <div class="panel panel-default">
        <div class="panel-body">
          <button type="button" class="btn btn-default" v-on:click="to_load_pgr_page">Load Program</button>
          <br><br>
          <button type="button" class="btn btn-default" v-on:click="to_pgr_sys_page">Program System</button>
        </div> 
      </div>
    </div>

    <!-- ============================================================ load program page ============================================================ -->

    <div id="load_pgr_page" class="container" v-if="current_state === 'load_pgr_page'">
      <div class="row">
        <!-- back button and refresh button -->
        <div class="col-md-1">
          <button type="button" class="btn btn-default" v-on:click="to_home_page">Back</button>
        </div>
        <div class="col-md-1 pull-right">
          <button type="button" class="btn btn-default pull-right" v-on:click="refresh_list">Refresh</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <table class="table table-striped" >
            <caption>List of Programs</caption>
            <tbody>
              <tr  v-for="program in programs">
                <td >{{program}}</td>
                <td><button type="button" class="btn btn-danger pull-right" v-on:click="delete_file(program)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-default" >Send to Bot</button>
        </div>
      </div>
    </div>

    <!-- ============================================================ program system page ============================================================ -->

    <div id="pgr_sys_page" class="container" v-if="current_state === 'pgr_sys_page'">

      <!-- back button -->
      <div class="row">
        <button type="button" class="btn btn-default" v-on:click="to_home_page" style="margin-bottom: 10px;">Back</button>
      </div>
      <div class="row" id="panel-collector">

<!-- left panel -->
        <div class="col-md-4 panel panel-default">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#state" aria-controls="state" role="tab" data-toggle="tab">State Space</a></li>
            <li role="presentation"><a href="#joint" aria-controls="joint" role="tab" data-toggle="tab">Joint space</a></li>
          </ul>
          <div class="tab-content">
<!-- state space panel -->
            <div role="tabpanel" class="tab-pane active" id="state">
              <!-- TODO: code for state space -->
            </div>
<!-- joint space panel -->
            <div role="tabpanel" class="tab-pane" id="joint">
              <!-- TODO: code for joint space -->
              <div v-for="joint in joints" id="joint_control">
                <div class="row">
                  <div class="col-md-2">
                    <span class="label label-primary" id="joint_label">{{joint.label}}</span>
                  </div>
                  <div class="col-md-7">
                    <input type="range" v-model="joint.value" min="-180" max="180">
                  </div>
                  <div class="col-md-3">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control text-center" v-model="joint.value">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- right panel -->
        <div class="col-md-8 panel panel-default">
<!-- choice panel -->
          <div style="display:flex;justify-content:center;align-items:center; height: 100%;">
            <div>
              <div  v-if= "right_pane_state === 'choice'">
                <!-- new file pane -->
                <div class="row">
                  <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Enter the file name" v-model='filename'>
                  </div>
                  <div class="col-md-2">

                    <button class="btn btn-default" id="right_pane_button" type="button" v-on:click='new_file'>New File</button>

                  </div>
                </div>
<!-- edit file pane -->
                <div class="row">
                  <div class="col-md-10">
                    <div class="input-group">
                      <input type="text" id="selected_pgr" class="form-control" v-model='selected_pgr' placeholder="Select file" disabled>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li v-for="program in programs"><a href="#" v-on:click="select_pgr (program)">{{program}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">

                    <button class="btn btn-default" type="button" id="right_pane_button" v-on:click='edit_file(program)'> Edit File</button>

                  </div>
                </div>

              </div>
            </div>
            
          </div>
          

          <div class="row" v-if='right_pane_state === "opened_file"'>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">File:</span>
                <input type="text" class="form-control" placeholder=".move" v-model="selected_pgr">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right" >
                    <li v-for="program in programs"><a href="#" v-on:click="select_file(program)">{{program}}</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <button class="btn btn-default center-block" type="submit">New File</button>
            </div>

            <div class="row">
              <!-- TODO: waypoints display-->
            </div>

            <div class="row">
              <!-- TODO: buttons to save file -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

<script src="app.js"></script>


</html>
